{% extends "base.html" %}

{% block content %}
<div class="cart-container" style="max-width: 95%; margin: 0 auto;">
    <h2 style="text-align: center;">Your Cart</h2><br/>
    {% for item in carts %}
    <div class="cart-item" style="border: 2px solid #ccc; padding: 30px; margin-bottom: 50px; box-shadow: 4px 4px 10px rgba(0,0,0,0.1); display: flex;">
        <div class="cart-item-image" style="margin-right: 20px;">
            <a href="{% url 'shop:product-detail' item.product.pk %}">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 100px; height: auto;">
            </a>
        </div>
        <div class="cart-item-info" style="flex-grow: 1;">
            <p>Product: {{ item.product.name }}</p>
            <p>Price per unit: {{ item.product.price }} RON</p>
            <p>Quantity: <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 50px;"> </p>
               
            
            <p>Total Price for this item: {{ item.total_price }} RON</p>
            <div class="cart-item-actions">
                <form method="post" action="{% url 'shop:remove-from-cart' item.id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to remove this item?');">Remove</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="cart-total" style="text-align: center; margin-top: 20px;">
        <h3>Total Price: {{ total_price }} RON</h3>
    </div>
    <div class="place-order" style="text-align: center; margin-top: 20px;">
{#        <form method="post" action="{% url 'shop:place-order' %}">#}
{#            {% csrf_token %}#}
            <button type="submit" style="padding: 10px 20px; font-size: 16px;">Place Order</button>
{#        </form>#}
    </div>
</div>
    
  

{% endblock %}

