{% extends "base.html" %}

{% block content %}
<div class="cart-container" style="max-width: 95%; margin: 0 auto;">
    <h2 style="text-align: center;">Your Cart</h2><br/>
    {% for item in carts %}
    <div class="cart-item" style="border: 1px solid #ccc; padding: 30px; margin-bottom: 30px; box-shadow: 4px 4px 10px rgba(0,0,0,0.1); display: flex;">
        <div class="cart-item-image" style="margin-right: 20px;">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 100px; height: auto;">
        </div>
        <div class="cart-item-info" style="flex-grow: 1;">
            <p>Product: {{ item.product.name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <div class="cart-item-actions">
                <form method="post" action="{% url 'shop:remove-from-cart' item.product.pk %}">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Your cart{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container-fluid mt-4">#}
{##}
{#        <div class="row text-center">#}
{#            {% for item in carts %}#}
{#                <td class="cart-item">#}
{#                <div class="cart-item-info">#}
{#                <div class="col-lg-3 col-md-6 mb-4">#}
{#                    <div class="card h-100">#}
{#                        <img class="card-img-top" src="{{ product.image.url }}" alt="Product:{{ product.name }}">#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-title">Product{{ product.name }}</h4>#}
{#                            <p class="card-text">Quantity:{{ product.description }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                       <div class="cart-item-actions">#}
{#                    <form method="post" action="{% url 'shop:remove-from-cart' item.product.pk %}">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit">Remove</button>#}
{#                    </form>#}
{#                </div>#}
{#                    </div>#}
{#                </div>#}
{#                </td>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#{% endblock %}#}