.custom-search-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    border: 1px solid;
    outline: none;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0 12px;
    line-height: 20px;



}

.navbar-nav-custom {
    flex-direction: column;
    padding-top: 1rem;
    background-color: blue;
}

.navbar-nav-custom .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    background-color: #3b2897;
}

.custom-search-input {
    width: 100%;
    left: 100px;

}

.jumbotron-background {
    background-image: url(" static/images/img.png") !important;
    background-size: cover;
    background-position: center;
    color: blue; /* Ensure text is readable */
    height: 100vh; /* Adjust height as needed */
    width: 100%; /* Ensure it covers the full width */
}

.custom-background {
    background-image: url("static/images/img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the whole viewport */
}

/*.custom-background {*/
/*    background-color: #f0f0f0; !* or any other background color or style *!*/
/*    padding: 20px; }*/