

.custom-search-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    border: 1px solid;
    outline: none;
    width: 80%;
    height:90%;
    padding: 0;
    margin: 0 12px;
    line-height: 20px;



}

.navbar-nav-custom {
    flex-direction: column;
    padding-top: 1rem;
    background-color: aliceblue;
}

.navbar-nav-custom .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    background-color: aliceblue;
}

.custom-search-input {
    width: 60%;
    margin: 0 auto;

}

.color-text {
    color: white!important;

}

.color-text:hover{ box-shadow: 0 4px 8px red; /* Add shadow for emphasis */

}
.text-color{
    color: white;
}



.custom-search-input .form-control {
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
    min-width: 300px; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width if necessary */
    border: 1px solid #ccc;
    border-radius: 10px; /* Adjust border-radius for rounded ends */
    padding: 5px 10px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

}

.custom-search-input .btn {
    border-radius: 60%; /* Make the button round */
    border: none; /* Remove border around the button */
}

.jumbotron-background {
    background-image: url(" static/images/img.png") !important;
    background-size: cover;
    background-position: center;
    color: blue; /* Ensure text is readable */
    height: 100vh; /* Adjust height as needed */
    width: 100%; /* Ensure it covers the full width */
}

/*.custom-background {*/
/*    background-image: url("media/images/shopping image.jpeg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    height: 100vh; !* Ensure the background covers the whole viewport *!*/
/*}*/

/*.custom-background {*/
/*    background-color: #f0f0f0; !* or any other background color or style *!*/
/*    padding: 20px; }*/

 /*.card {!important;*/
 /*       width: 60%; !* Set the width of the card *!*/
 /*       margin-bottom: 10px; !* Reduce margin to prevent excessive spacing *!*/
 /*       height: 50px;*/
 /*       display: flex;*/
 /*       flex-direction: column;*/
 /*       justify-content: space-between;*/
 /*       transition: transform 0.3s, box-shadow 0.3s; !* Add transition for smooth effect *!*/


 /*   }*/

    .card {
        width: 60%; /* Set the width of the card */
        min-width: 200px; /* Minimum width to prevent the card from becoming too small */
        max-width: 600px; /* Maximum width to prevent the card from becoming too large */
        margin-bottom: 10px; /* Reduce margin to prevent excessive spacing */
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */



}

     .card:hover {
        transform: translateY(-5px); /* Slightly lift the card */
        box-shadow: 0 4px 8px #390404; /* Add shadow for emphasis */
    }

    .card-img-top {
        width: 100%; /* Set the width of the image */
        height: 170px; /* Set a fixed height for the image */
        object-fit: fill; /* Contain the image without cropping */
    }

    .card-body {
        padding: 10px;

        /* Reduce padding for a more compact look */

    }

   .custom-body {
    padding: 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}




    .card-title {
        font-size: 1rem; /* Reduce the font size */
    }

    .card-text {
        font-size: 0.875rem; /* Reduce the font size */
    }

    .card-footer {
        text-align: center;
        padding: 10px;
        /* Reduce padding for a more compact look */
    }

    .card-background{
         background-color: red;
     }

    body{
            background: transparent;
        }
.background-image {
            position:fixed;
            top:0;
            left:0;
            min-width: 100vw;
            min-height: 100vh;
            z-index:-999;
        }
/*.custom-card-login{*/
/*    padding: 20px;*/
/*    width: 100%;*/
/*    max-width: 500px;*/
/*    margin: auto;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*}*/



.carousel-item {
    height:300px;
}
.carousel-item img {
    object-fit: fill;
    height: 300px;
    width: 800px;
}
.carousel-fix-height .carousel-inner .carousel-item img {
        border-radius: 15px; /* Rotunjirea col»õurilor la 15px */
    }
/*.custom-background {*/
/*            height: 100vh;*/
/*        }*/

/*.carousel-inner {*/
/*            max-height: 80vh; !* Adjust this value as needed *!*/
/*            margin-bottom: 450px;*/
/*        }*/
/*.carousel-item img {*/
/*            max-height: 80vh; !* Ensure images do not exceed the container height *!*/
/*            width: 650px; !* Maintain aspect ratio *!*/
/*            object-fit: inherit; !* Ensure images cover the container without distortion *!*/
/*        }*/

/*.card-custom{*/
/*    margin-left: 10px;*/


/*}*/
.remove-underline{
    text-decoration: none !important;
}

.row.d-flex.flex-row-reverse.flex-wrap {
      flex-direction: row !important;
  }


.logo-reformat img{
    width: 160px;
    height: 115px;
    background-color: transparent;
}
.logo-reformat:hover{
     transform: translateY(-5px); /* Slightly lift the card */
     box-shadow: 0 4px 8px deepskyblue; /* Add shadow for emphasis */;
}

.login_and_sign_up-custom:hover{
     transform: translateY(-5px); /* Slightly lift the card */
     box-shadow: 0 4px 8px bisque; /* Add shadow for emphasis */


}

.order_custom:hover{
    transform: translateY(-5px); /* Slightly lift the card */
    box-shadow: 0 4px 8px bisque; /* Add shadow for emphasis */

}

.my_account_custom:hover{
    transform: translateY(-5px); /* Slightly lift the card */
    box-shadow: 0 4px 8px bisque; /* Add shadow for emphasis */
}