{% extends 'base.html' %}

{% block title %}Subcategories in {{ category.name }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4" >
  <div class="d-flex flex-row flex-wrap">
   {% for subcategory in subcategories %}
        <div class="d-flex flex-column col-md-3 mb-3">
    <h3 class="my-4 text-color ms-1" >{{ subcategory.name }}</h3>
  
     
           
                <div class="card h-100 " style="width: 80%">
                    {% if subcategory.image %}
                       <a  href="{% url 'shop:product-list' subcategory.slug %}">
                        <img src="{{ subcategory.image.url }}" class="card-img-top img-fluid" alt="{{ subcategory.name }}">
                       </a>
                    {% endif %}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title text-center">{{ subcategory.name }}</h5>#}
{#                        <a href="{% url 'shop:product-list' subcategory.slug %}" class="btn btn-primary">View Products</a>#}
{#                    </div>#}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}