{% extends 'base.html' %}

{% block title %} Product Details {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">{{ product.name }}</h1>
        <div class="row">
            <div class="col-md-6">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3 class="my-3">Description</h3>
                <p>{{ product.description }}</p>
                <h3 class="my-3">Details</h3>
                <ul>
                    <li>Price: ${{ product.price }}</li>
                    <li>Stock: {{ product.stock }}</li>
                </ul>
{#                <ul></ul><a href="{% url 'shop:product-detail' product.id %}" class="btn btn-primary">Go somewhere</a>#}
                <form method="post" action="{% url 'cart:add-to-cart' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="input-group mb-3">
                        <input type="number" name="quantity" class="form-control" value="1" min="1">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Add to Cart</button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'feedback:create-feedback' product.id %}" class="btn btn-secondary">Give Feedback</a>
                <a href="{% url 'feedback:view-feedback' product.id %}" class="btn btn-secondary">View Feedbacks</a>
            </div>
        </div>
    </div>
{% endblock %}