{% extends 'base.html' %}

{% block title %} Product Details {% endblock %}

{% block content %}
    <div class="container-fluid justify-content-center align-items-center vh-100 text-color">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="border p-4 my_account_custom">
                    <h1 class="my-4">{{ product.name }}</h1>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <h3 class="my-3">Description</h3>
                            <p>{{ product.description }}</p>
                            <h3 class="my-3">Details</h3>
                            <ul>
                                <li>Price: ${{ product.price }}</li>
                                <li>Stock: {{ product.stock }}</li>
                            </ul>

                            <form class="add-to-cart" method="post" action="{% url 'cart:add-to-cart' product.id %}" class="mb-3">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <div class="input-group mb-3">
                                    <input type="number" name="quantity" class="form-control form-control-lg" value="1" min="1">
                                    <button class="fa-solid fa-cart-shopping btn btn-primary  ms-2" type="submit">Add to Cart</button>
                                </div>
                            </form>

                            <div class="d-flex  ">
                                <form class="add-to-favorites" method="post" action="{% url 'favorites:add-to-favorite' product.id %}" class="me-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <button class="bi bi-heart btn btn-danger " type="submit">Add to Favorites</button>
                                </form>
                                
                                <a href="{% url 'feedback:create-feedback' product.id %}" class="btn btn-primary ms-2 me-2">Give Feedback</a>
                                <a href="{% url 'feedback:view-feedback' product.id %}" class="btn btn-success ">View Feedbacks</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
