
{% extends 'base.html' %}
{% load static %}

{% block title %}Categorii produse{% endblock %}

{% block content %}
    <style>
     body, html {
        background-image: url("{% static 'images/img.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
         
     .jumbotron {
        background-color: transparent; /* Add a semi-transparent overlay */
        color: white;
        padding: 0; /* Adjust padding as needed */
        width: 50%;
        margin: 0 auto;
    }    
    }
    </style>
    <div class="container-fluid mt-4 custom-background">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-3 mb-3">
                <div class="card h-100" style="width: 100%;">
                    <a href="{% url 'shop:subcategory-list' category.slug %}">
                    <img src="{{ category.image.url }}" class="card-img-top img-fluid" alt="{{ category.name }}" style="height: 150px; width: 100%; object-fit: contain;">
                        </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ category.name }}</h5>
                        <p class="card-text text-center">{{ category.description }}</p>
{#                        <a href="{% url 'shop:subcategory-list' category.slug %}" class="btn btn-primary">{{ category.name }}</a>#}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
