{% load static %}


<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="logo-reformat">
            <a href="{% url 'shop:homepage' %}">
                <img src="{% static 'images/Logo1.png' %}">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  custom-search-input .form-control ">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       id="searchQuery">
                <a class=" fas fa-search btn btn-outline-primary" id="searchButton"></a>
            </div>


            <div class="d-flex align-items-center ms-auto">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            {#                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'user_account:my_account' %}">My Account</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Logout, {{ user.username }}</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'user_account:customer-create' %}">Sign up</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}


                <button id="theme-toggle" class="btn btn-outline-primary ms-2">
                    <i class="fas fa-lightbulb"></i>
                </button>
                <a class="btn btn-outline-danger ms-2  view-favorites" href="{% url 'favorites:view_favorite' %}">
                    <i class="bi bi-heart  "></i>
                </a>

                <a class="btn btn-outline-success ms-2 view-cart" href="{% url 'cart:view_cart' %}">
                    <i class="fa-solid fa-cart-shopping  "></i>
                </a>


            </div>
        </div>
    </div>


</nav>

<nav class="navbar navbar-expand-lg text-color  ">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse">
            {#            <div class="navbar-nav-custom">#}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item ">
                    <h4>
                        <a class="nav-link color-text  " aria-current="page" href="{% url 'shop:homepage' %}">Home</a>
                    </h4>
                </li>
                <li class="nav-item">
                    <h4>
                        <a class="nav-link color-text " aria-current="page" href="{% url 'shop:category-list' %}">
                            Produse</a>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
    {#    </div>#}
</nav>


