{% extends 'base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <div class="container-fluid justify-content-center align-items-center vh-100 text-color">
        
        <div class="row">
        <div class="col-md-6 offset-md-3">
        <div class="border p-4 my_account_custom">
        <h2 class="text-color text-center"> Hello {{ user.first_name}} {{user.last_name }} this is your account</h2>
            {% if user.is_superuser %}
                <div class="col-md-12 mb-3 ">
                    <a href="{% url 'admin:index' %}" class="btn btn-success btn-lg btn-block mb-3">Administration</a>
                </div>
            {% endif %}
            <div class="col-md-12 mb-3">
                <a href="{% url 'user_account:account_edit' %}" class="btn btn-primary btn-lg btn-block mb-3">Edit Account</a>
            </div>
            <div class="col-md-12 mb-3">
                <a href="{% url 'user_account:account_delete' %}" class="btn btn-danger btn-lg btn-block mb-3">Delete
                    Account</a>
            </div>
            <div class="col-md-12 mb-3 ">
                <a href="{% url 'order:order-history' %}" class="btn btn-success btn-lg btn-block mb-3">Order History</a>
            </div>
            <div class="col-md-12 mb-3">
                <a href="{% url 'user_account:password-reset' %}" class="btn btn-success btn-lg btn-block mb-3">Reset
                    Password</a>
            </div>

        </div>
    </div>
    </div>
    </div>
{% endblock %}
