{% extends "base.html" %}

{% block content %}
    <div class="cart-container" style="max-width: 95%; margin: 0 auto;">
        <h2 style="text-align: center;">Your favorites products</h2><br/>
        {% for item in favorite %}
            <div class="cart-item"
                 style="border: 2px solid #ccc; padding: 30px; margin-bottom: 50px; box-shadow: 4px 4px 10px rgba(0,0,0,0.1); display: flex;">
                <div class="cart-item-image" style="margin-right: 20px;">
                    <a href="{% url 'shop:product-detail' item.product.pk %}">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                             style="width: 100px; height: auto;">
                    </a>
                </div>
                <div class="cart-item-info" style="flex-grow: 1;">
                    <p>Product: {{ item.product.name }}</p>
                    <p>Price per unit: {{ item.product.price }} RON</p>
                    {#            <p>Quantity: <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 50px;"> </p>#}


                    <p>Total Price for this item: {{ item.total_price }} RON</p>
                    <div class="cart-item-actions">
                        <form method="post" action="{% url 'shop:remove-from-favorite' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger"
                                    onclick="return confirm('Are you sure you want to remove this item?');">Remove
                            </button>
                        </form>
                        
                        <form method="post" action="{% url 'shop:add-to-cart' item.product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="input-group mb-3">
                                {#                            <input type="number" name="quantity" class="form-control" value="1" min="1">#}
                                <div class="input-group-append">
                                    <button class=" fa-solid fa-cart-shopping btn btn-primary ms-2"
                                            type="submit"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        

                    </div>
                </div>
            </div>
            </div>
        {% endfor %}

{% endblock %}
